/* Стилизация списка карточек */
.card-list {
    list-style: none;
    padding: 0;
    margin: 1;
    display: flex;
    flex-direction: column; /* Установить направление flex-контейнера на вертикальное (по умолчанию) */
    align-items: stretch; /* Растянуть карточки на всю высоту контейнера */
}

/* Стилизация карточки */
.card {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 10px; /* Добавляет отступ слева */
    margin-right: 10px; /* Добавляет отступ справа */
    flex: 1; /* Растягивать карточки по вертикали на всю высоту контейнера */
}

/* Стилизация заголовка карточки */
.card-title {
    
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 10px;
}

/* Стилизация текста карточки */
.card-text {
    
    font-size: 1rem;
    margin: 0;
}
/*размер шрифта*/
.font b{
 font-size: 45px;
}