/* Стилизация списка карточек */
.card-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row; /* Установить направление flex-контейнера на горизонтальное */
    flex-wrap: wrap; /* Позволяет карточкам переноситься на новую строку, если экран слишком узкий */
     /* justify-content: space-between; Распределить карточки равномерно по горизонтали */
    
}

/* Стилизация карточки */
.card {
    justify-content: right; /* center выравнивание информации по центру*/
    background-color: #f0f0f0;
    border: 1px solid #4e1010;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 10px; /* Добавляет отступ слева */
    margin-right: 10px; /* Добавляет отступ справа */
   /* flex-basis: calc(33.333% - 20px);  Устанавливает базовую ширину карточки, учитывая отступы */
}

/* Стилизация заголовка карточки */
.card-title {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 10px;
}

/* Стилизация текста карточки */
.card-text {
    font-size: 1rem;
    margin: 0;
}

.card h1 {
    font-size: 40px;
}
/* Стилизация заголовка карточки */
.card-title {
    
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 10px;
}

/* Стилизация текста карточки */
.card-text {
    
    font-size: 1rem;
    margin: 0;
}




/*размер шрифта*/
.font b{
 font-size: 50px;
}
.font-ordinary {
    font-size: 40px;
}
.images{
    height: 300px;
            width: 400px; 
}
/* .current-image {
    justify-content: center;
    height: 300px;
    width: 400px; 
} */
 .beautiful-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #6461e7de; /* Цвет фона */
    color: #fff; /* Цвет текста */
    text-decoration: none; /* Убираем подчеркивание ссылки */
    border-radius: 5px; /* Закругленные углы */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Тень */
    font-weight: bold;
    transition: background-color 0.3s ease; /* Плавное изменение цвета фона при наведении */
}

.beautiful-link:hover {

    background-color: #0026fd; /* Новый цвет фона при наведении */
}

