<!--здесь мы импортируем все заказы, через блоки добавляя их в base.html -->
{% extends 'base.html' %}


<!-- шапка  -->
{% block heading %}Грузы на Starship{% endblock %}


<!-- заглавие -->
{% block  title %}
<br>
<b class="font" >Cписок грузов для отправки на Starship</b>
{% endblock %}


<!-- поиск -->
{% block find_bar %} 

    
    <!-- <form action="sendText" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      Отсортировать данные
      <input name="text" type="text">
      <input type="submit" value="Submit" >
  </form> -->
{% endblock %}

{% block content %}
<ul class="card-list">
  
    {% for item in data.items %}
  
    {% include 'cargo_item.html' with element=item %}
    {% load static %}
    <img src="{{item.image_name}}">  
    
    <!-- блок empty будет использован, если массив окажется пустым или неизвестен -->
    {% empty %}
       <li>Список пуст</li>
    {% endfor %}
  
</ul>
{% endblock %}
